main {
    padding-top: 10vw;
    width: 94.9vw;
    margin-left: 2vw;
}

main p {
    line-height: 3.5vh;
}

main div {
    text-align: center;
}

main div img {
    width: 50vw;
    border: solid 0.1vw black;
    margin: 1vw 0vw 2.3vw 0vw;
}
